<% layout('layouts/boilerplate') %>
<style>
  body {
    background-image: url('https://img.freepik.com/premium-photo/white-food-background-with-empty-white-board-tomatoes-free-space-text-top-view-copy-space_503274-1320.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  .container {
    margin-top: 80px;
  }

  .validated-form label::after {
    content: "*";
    color: red;
  }

  
  
</style>
<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="card bg-light p-4">
        <h1 class="text-center mb-4">New Recipe</h1>
        <form action="/recipes" method="POST" novalidate class="validated-form">
          <div class="mb-3">
            <label class="form-label" for="title">Title</label>
            <input class="form-control" type="text" id="title" name="title" autofocus required>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>

          <div class="mb-3">
            <label class="form-label" for="cuisine">Cuisine</label>
            <input class="form-control" type="text" id="cuisine" name="cuisine" required>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>

          <div class="mb-3">
            <label class="form-label" for="difficulty">Difficulty</label>
            <select class="form-select" id="difficulty" name="difficulty" required>
              <option value="" selected disabled>Select difficulty</option>
              <option value="Easy">Easy</option>
              <option value="Medium">Medium</option>
              <option value="Hard">Hard</option>
            </select>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>

          <div class="mb-3">
            <label class="form-label" for="cookTime">Cook Time (in minutes)</label>
            <input class="form-control" type="number" id="cookTime" name="cookTime" required>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>

          <div class="mb-3">
            <label class="form-label" for="description">Description</label>
            <textarea class="form-control" id="description" name="description" required></textarea>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>

          <div class="mb-3">
            <label class="form-label" for="ingredients">Ingredients</label>
            <textarea class="form-control" id="ingredients" name="ingredients" required></textarea>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>

          <div class="mb-3">
            <label class="form-label" for="instructions">Instructions</label>
            <textarea class="form-control" id="instructions" name="instructions" required></textarea>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>

          <div class="mb-3">
            <div class="form-file custom-file">
              <input type="file" class="form-file-input" id="image" name="image" multiple>
              <label class="form-file-label" for="image">
                <span class="form-file-text custom-file-label">Choose image(s)...</span>
                <span class="form-file-button">Browse</span>
              </label>
            </div>
          </div>

          <div class="mb-3 text-center">
            <button class="btn btn-primary">Add Recipe</button>
          </div>
        </form>
        <div class="text-center">
          <a href="/recipes" class="btn btn-secondary">All Recipes</a>
        </div>
      </div>
    </div>
  </div>
</div>

